In [98]:
# import sys
# !{sys.executable} -m pip install pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://data.cityofnewyork.us/resource/bug8-9f3g.csv')

In [4]:
df.head()

,company_name,company_contact,company_email,company_phone,address,city,state,zip,industry,industry_descr,...,savings_from_beginning,borough,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

How many different companies are represented in the data set?

In [5]:
df.company_name.nunique()

439

What is the total number of jobs created for businesses in Queens?

In [6]:
df.job_created.sum()

149.0

How many different unique email domains names are there in the data set?

In [7]:
 import re

In [8]:
regex = re.compile(r"^.+@(.+)\.[\w]+$")
domains = df.company_email.dropna().apply(regex.findall)

In [9]:
len(set([d[0] for d in domains if len(d)>0]))

355

Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [55]:
NTAs = df[['nta', 'company_name']].groupby(['nta']).count()

In [57]:
results = df[df.nta.isin(NTAs[(NTAs.company_name>=5)].index)][['nta', 'total_savings','job_created']].groupby(['nta']).mean()

Save your result for the previous question as a CSV file.

In [65]:
results.to_csv('out.csv')